# -----------------------------
# Global
# -----------------------------
/.env
/.env.local
.DS_Store
*.log
logs/
tmp/
*.tmp
Dockerfile
tests
.mvn/

# ========================================
# FRONTEND (React.js)
# ========================================

# dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# production build
build/
dist/

# misc
.cache/
.eslintcache
.parcel-cache/
coverage/
*.tsbuildinfo

# React specific
/.pnp
.pnp.js
.vscode/
.idea/

# dotenv
.env.development.local
.env.test.local
.env.production.local

# ===============================
# BACKEND (Java / Spring Boot)
# ===============================

# Maven
target/
*mvnw*
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/

# IntelliJ / Eclipse / VSCode
*.iml
.idea/
*.iws
*.ipr
.classpath
.project
.settings/

# JVM
*.class
*.jar
*.war
*.ear
hs_err_pid*

# Spring Boot specific
spring.log

# =================================
# OS files (macOS / Windows / Linux)
# =================================
Thumbs.db
Desktop.ini

HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# =================================
# Docker
# =================================
docker-data/
.dockerignore

# =================================
# Logs
# =================================
*.log
logs/
